<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/77a91d59-97e2-45ee-9cb0-f737933e863e/resourcegroups/AnalyticsDashboard320180804063216ResourceGroup/providers/Microsoft.Web/sites/AnalyticsDashboard320180804063216</ResourceId>
    <ResourceGroup>AnalyticsDashboard320180804063216ResourceGroup</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://analyticsdashboard320180804063216.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>analyticsdashboard320180804063216.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>AnalyticsDashboard320180804063216</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$AnalyticsDashboard320180804063216</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="AnalyticsDashboard3.Models.AnalyticsDashboardDB" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:analyticsdashboard320180804063216dbserver.database.windows.net,1433;Initial Catalog=AnalyticsDashboard_db;User ID=pppm@analyticsdashboard320180804063216dbserver;Password=Bolixuque231279!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AnalyticsDashboard3.Models.AnalyticsDashboardDB, AnalyticsDashboard3" Origin="" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="False">
          <Destination Path="Data Source=tcp:analyticsdashboard320180804063216dbserver.database.windows.net,1433;Initial Catalog=AnalyticsDashboard_db;User ID=pppm@analyticsdashboard320180804063216dbserver;Password=Bolixuque231279!" Name="" />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="AnalyticsDashboard3.Models.ApplicationDbContext, AnalyticsDashboard3" Origin="Convention" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="AnalyticsDashboardDB-Web.config Connection String" />
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:analyticsdashboard320180804063216dbserver.database.windows.net,1433;Initial Catalog=AnalyticsDashboard_db;User ID=pppm@analyticsdashboard320180804063216dbserver;Password=Bolixuque231279!</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="AnalyticsDashboard3.Models.AnalyticsDashboardDB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:analyticsdashboard320180804063216dbserver.database.windows.net,1433;Initial Catalog=AnalyticsDashboard_db;User ID=pppm@analyticsdashboard320180804063216dbserver;Password=Bolixuque231279!</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="AnalyticsDashboard3.Models.AnalyticsDashboardDB" />
    <_ConnectionStringsToInsert Include="DefaultConnection" />
  </ItemGroup>
</Project>